<div class="main-menu-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navigation">
          <ul id="menu-main-menu" class="sf-menu">
            <li><a routerLink="">Home</a></li>            
            <li><a routerLink="aboutus">About Us</a></li>
            <li><a routerLink="sales">Buy</a></li>
            <li><a routerLink="rent">Rent</a></li>
            <li><a routerLink="lease">Lease</a></li>
            <li><a routerLink="contactus">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>