<div class="main" role="main">
  <div id="content" class="full">
    <div class="inner_banner_main">
      <div class="container">
        <h2>Sell</h2>
      </div>
    </div>
    <div class="container">
      <h3>Filter By</h3>
      <div class="row">
        <div class="col-md-4">
          <label style="display:inline">Property Type: </label>
          <select [(ngModel)]="selectedPropertyType.id" (change)="onSelect($any($event.target).value)">
            <option *ngFor="let propertytype of propertytypes" value={{propertytype.id}}>{{propertytype.name}}
            </option>
          </select>
          <i class="arrow down"></i>
        </div>
        <div class="col-md-4">
          <label style="display:inline">Property Subtype: </label>
          <select style="display:inline" [(ngModel)]="selectedSubType">
            <option *ngFor="let propertysubtype of propertysubtypes" value={{propertysubtype.name}}>
              {{propertysubtype.name}}</option>
          </select>
          <i class="arrow down"></i>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success" (click)="onSubTypeChange()"> Search </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="owl-item">
          <ul>
            <li *ngFor="let prop of propertiesdata" class="owl-carousel owl-item property-block"><a
                class="property-featured-image"><img [src]="ImagePath+prop.imageFileName" class="imgbox"
                  alt="Image not found" /></a>
              <div class="property-info">
                <a href="#">{{prop.type}}</a>
                <span class="location">Location: {{prop.location}}</span>
                <span class="location">Category: {{prop.propertySubtype}}</span>
                <span class="location">Dimension: {{prop.dimensions}}</span>

                <div class="price"><span><strong>RS</strong><span>{{prop.price}}</span></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>