<div class="flex-slider">
  <ul class="slides">
    <li>
      <div class="slide-image" data-bg="https://images.unsplash.com/photo-1601204200071-d223e81548f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" data-flex-start="center center "></div>
    </li>
    <li>
      <div class="slide-image" data-bg="https://images.unsplash.com/photo-1579165112473-fdec4a10a71b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1385&q=80" data-flex-start="center center "></div>
    </li>
    <li>
      <div class="slide-image" data-bg="https://images.unsplash.com/photo-1496088789575-149c94104db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" data-flex-start="center center "></div>
    </li>
  </ul>
</div>